<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bob.sm.mapper.SystemRoleResourceMapper">

    <select id="joinSelectList" resultType="com.bob.sm.domain.SystemRoleResource">
        ${queryMain} ${ew.customSqlSegment}
    </select>

    <select id="joinSelectPage" resultType="com.bob.sm.domain.SystemRoleResource">
        ${queryMain} ${ew.customSqlSegment}
    </select>

    <select id="joinSelectCount" resultType="int">
        ${queryMain} ${ew.customSqlSegment}
    </select>

    <update id="systemRoleIdCascadeToNull">
        UPDATE system_role_resource SET system_role_id = null WHERE system_role_id = #{systemRoleId}
    </update>

    <update id="systemResourceIdCascadeToNull">
        UPDATE system_role_resource SET system_resource_id = null WHERE system_resource_id = #{systemResourceId}
    </update>

</mapper>